
.container{
    width:100vw;
   
}

.header{
    
    height:10vh;
    background-color: dimgrey;
    color:whitesmoke;
    border-bottom: solid black 2px;
}

.searchBar{
    background-color: wheat;
    height: 90vh;
}

.resultDisplay{
background-color: grey;
height: 90vh;

}
.resultDisplay h3{
    margin-bottom: 4%;
}

.currentForecast{
    height:40%;
;
}

#forecastFiveD{
    height:40%;

}
.prevSearch{
border-bottom: solid 2px black;
border-radius:0 0 0 4px;

padding:4px;
width: 100%;

}

.forecastBlock{
    height:70%;
    border: solid steelblue 2px;
    border-radius: 5px;
    background-color:white;
}
.prevSearch:hover{
 cursor: pointer;

}
#uvBlock{
    width:70%;
    color:white;
    border-radius:8px;
}
